body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.highlight{
    color:blue;
}
.half{
    width: 40%;
    float: left;
    margin:2%;
    padding: 2px;
    height: 300px;
}
.half img{
    width: 85%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
section{
    height: 600px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,skyblue, blue);
    padding: 10px;
    border-radius: 5%;
    font-weight: 700;
    color: white;
}
.dream{
    background-image: url(images/profile2.png);
    background-repeat: no-repeat;
    background-position: right;
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    height: 70%;
    border-radius: 7px;
    padding: 2%;
}
.experience{
    padding: 0px 40px;
    background-image:url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#fullstack{
    border-left: 10px solid;
    border-image: linear-gradient(90deg,salmon,tomato);
    border-image-slice: 1;
}
#baby{
    border-left: 10px solid;
    border-image: linear-gradient(180deg,skyblue,blue);
    border-image-slice: 1;
}
footer{
    text-align: center;
}